body {
	font-family: system-ui;
	background: #000;
	color: #0f0;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	z-index: 0;
	transform: scaleX(-1);
	filter: blur(10px);
	display: none;
}

#blur-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	backdrop-filter: blur(10px);
	display: none;
	z-index: 1;
	pointer-events: none;
	mask-image: radial-gradient(
		circle,
		transparent 0%,
		transparent 30%,
		black 50%
	);
	-webkit-mask-image: radial-gradient(
		circle,
		transparent 0%,
		transparent 30%,
		black 50%
	);
}

#countdown {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 10rem;
	color: #f00;
	z-index: 2;
	display: none;
	font-weight: bold;
}

#canvas {
	display: none;
}

.animation-captured {
	height: 100vh;
	width: 100vw;

	top: 0;

	left: 50%;
	transform: translateX(-50%);

	position: absolute;
	background: var(--captured-image);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	display: none;
}

.animates {
	display: block;
	animation: down-scale 1.5s ease-in-out forwards;
}

@keyframes down-scale {
	0% {
		height: 100vh;
		width: 100vw;
		border: 0px solid white;
		top: 0;
	}

	70% {
		height: 250px;
		width: 444px;
		border: 6px solid white;
	}

	100% {
		height: 250px;
		width: 444px;
		top: 100%;
		border: 6px solid white;
	}
}

#live-preview-canvas {
	position: fixed;
	bottom: 20px;
	left: 20px;

	transition: 1s cubic-bezier(0.87, 0, 0.13, 1);

	/* specific size for the UI preview */
	width: 15cm;
	height: 22.5cm;

	z-index: 10;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 17px;
	background: #fff;

	/* Mirror the preview so it feels natural like the main video */
	transform: scaleX(-1);
}

.collapsed {
	width: 50px !important;
	height: 50px !important;
	border-radius: 50% !important;
	opacity: 0.5;
}
